<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rule 1R" stopProcessing="true">
                    <match url="^([a-zA-Z\s]+)$" />
                    <action type="Rewrite" url="/index.php?profile={R:1}" />
                </rule>
                <rule name="Rule 2R" stopProcessing="true">
                    <match url="^pub/([a-zA-Z\s]+)$" />
                    <action type="Rewrite" url="/pub.php?profile={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
